@import java.util.Date
@(carForm: Form[Car])(implicit requestHeader: MessagesRequestHeader)

@import views.html.helper._

@main("createForm") {
    <h1>@Messages("add.title")</h1>

    @form(routes.CarController.save()) {
        <fieldset>
            @CSRF.formField
            @inputText(carForm("number"), '_label -> Messages("car.number.title"), '_help -> "")
            @inputText(carForm("arrival").copy(value=Some(new Date().format("dd.MM.yyyy HH:mm:ss"))),
                '_label -> Messages("car.arrival.title"), '_help -> "dd.MM.yyyy HH:mm:ss")
            @inputText(carForm("departure"), '_label -> Messages("car.departure.title"), '_help -> "")
        </fieldset>

        <div class="actions">
            <input type="submit" value="@Messages("save.title")" class="btn primary"> or
            <a href="@routes.CarController.list()" class="btn">@Messages("cancel.title")</a>
        </div>

    }
}
