@import java.util.Date
@(id: Long, carForm: Form[Car])(implicit requestHeader: MessagesRequestHeader)

@import views.html.helper._

@main("editForm") {
    <h1>@Messages("edit.title")</h1>

    @form(routes.CarController.update(id)) {
        <fieldset>
            @CSRF.formField
            @inputText(carForm("number"), '_label -> Messages("car.number.title"), '_help -> "", 'readonly -> "readonly")
            @inputText(carForm("arrival"), '_label -> Messages("car.arrival.title"), '_help -> "", 'readonly -> "readonly")
            @inputText(carForm("departure").copy(value=Some(new Date().format("dd.MM.yyyy HH:mm:ss"))),
                '_label -> Messages("car.departure.title"), '_help -> "")
        </fieldset>

        <div class="actions">
            <input type="submit" value="@Messages("save.title")" class="btn primary"> or
            <a href="@routes.CarController.list()" class="btn">@Messages("cancel.title")</a>
        </div>

    }
}
